<h1>Blog</h1>

<ul>
  {{#link-to 'index' }}
    <li>Home</li>
  {{/link-to}}
  {{#link-to 'about' }}
    <li>About</li>
  {{/link-to}}
  {{#link-to 'contacts' }}
    <li>Contacts</li>
  {{/link-to}}
  {{#link-to 'admin' }}
    <li>Admin</li>
  {{/link-to}}
</ul>
