ul{
  display: flex;
  justify-content: space-between;
  padding: 0;
  list-style: none;
}

body {
  padding: 0 2em;
}

.post {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.post > * {
flex: 1;
}

.newPost {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post > button {
  flex: none;
}
